@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap");
/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : [Marc-Olivier Nadeau]
 * Date : [2 février 2026]

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family:
    "Bitcount Single", sans-serif; /* Changez pour votre choix de police de caractères de Google Fonts*/
  font-size: 1rem;
  line-height: 1.6;
  color: #e74c3c; /* Ajutez avec votre couleur de texte principale */
  background-color: #000000; /* Ajutez avec votre couleur de fond principale */
}

li {
  list-style-type: none;
  background-color:rgb(68, 73, 36);
  padding: 15px;
  margin: -15px;
  border-radius: 10px;
}

.mets {
  
  padding: 15px;
  margin: -25px;
}

.description {
margin-bottom: 40px;
color: rgb(197, 195, 195);}

.description:hover {
color: orange}

em {
color: greenyellow;
position: relative;
right: 0.1rem;
}

.prix {
color: cyan;
}


h1 {
  position: relative;
  font-size: 2vw;
  padding: 40px;
  left: 3vw;
  max-width: 800px;
}

h2 {
  margin: 20px 30px 60px 5px;
}
